<div class="form" id="login-form">
  <form class="register-form">
    <input id="register_name" class="validate" type="text" placeholder="name" required/>
    <input id="register_password" class="validate" type="password" placeholder="password" required/>
    <input id="register_email" class="validate" type="email" placeholder="email address" required/>
    <button onclick="app.users_manager.createUser()">create</button>
    <p class="login-message">Already registered? <a href="#">Sign In</a></p>
  </form>
  <form class="login-form">
    <input id="login_email" class="validate" type="email" placeholder="email" autocomplete="username" required/>
    <input id="login_password" class="validate" type="password" placeholder="password" autocomplete="current-password" required/>
    <button onclick="app.users_manager.login()">login</button>
    <p class="login-message">Not registered? <a href="#">Create an account</a></p>
  </form>
</div>
<script type="text/javascript">
  $('.login-message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });
</script>
