<!-- main content -->
<div class="container" id="postProject">
  <div class="row">
    <div class="col s12">
      <span><h3 class="keytitle">What needs to be done?</h3></span>
      <span><h5 class="keysubtitle">Get free quotes from skilled freelancers within minutes,
      view profiles, ratings and portfolios and chat with them. Pay the freelancer only when
      you are 100% satisfied with their work.</h5></span>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col s12">
      <h4>Project description</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <label for="project-title" class="form-label">Title</label>
              <input id="project-title" type="text" class="validate" required>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="post-project-description">Tell us about your project...</label>
              <textarea id="post-project-description" class="materialize-textarea"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 skills-list">
              <label for="post-project-skills-input" class="form-label">What skills are required?</label>
              <div class="chips chips-autocomplete skills-input-chips">
                <input id="post-project-skills-input" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <label for="project-budget" class="form-label">What is the maximum budget? ($)</label>
              <input id="project-budget" type="number" class="validate" required>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" class="datepicker" id="deadline">
              <label for="deadline">When should it be done?</label>
            </div>
          </div>
        </form>
      </div>

      <button onclick="app.post_project_form.createProject()" class="btn btn-flat blue waves-effect waves-light white-text">Submit</button>

    </div>

  </div>

</div>
