<div class="container">
  <div id="profile-page" class="section">
    <!-- profile-page-header -->
    <div id="profile-page-header" class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s3">
            <label for="user-photo-input">
              <img id="user-photo" src="resources/img/default_profile_picture.png"
                class="profile-picture-large circle z-depth-2 editable" data-tooltip="Change profile picture">
            </label>
            <input id="user-photo-input" type="file" accept="image/*" disabled/>
          </div>
          <div class="col s9">
            <div class="row">
              <div class="col s4 vertical-line-right">
                <h4 id="user-name" class="card-title grey-text text-darken-4 editable" data-tooltip="Edit your name">
                  <!-- Kim Rush -->
                </h4>
                <input id="user-name-input" class="validate" type="text" placeholder="Name" required/>
                <p id="user-email" class="grey-text margin-0 font-size-15">
                  <!-- <i class="fa fa-envelope"></i> &nbsp; kimrush@gmail.com -->
                </p>
                <p id="user-phone" class="grey-text margin-0 font-size-15 editable" data-tooltip="Add phone number">
                  <!-- <i class="fa fa-lg fa-mobile"></i> &nbsp; +40731322134 -->
                </p>
                <input id="user-phone-input" class="validate" type="text" placeholder="Phone" required/>
              </div>
              <div class="col s4 center-align vertical-line-right">
                <h4 id="user-added-projects" class="card-title grey-text text-darken-4">1</h4>
                <p class="font-size-15 grey-text">Added projects</p>
                <br>
              </div>
              <div class="col s4 center-align">
                <h4 id="user-num-bids" class="card-title grey-text text-darken-4">3</h4>
                <p class="font-size-15 grey-text">Number of bids</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col s6">
                <div class="card orange">
                  <div class="card-content white-text">
                    <span class="card-title">About Me!</span>
                    <p id="user-about-me" class="editable" data-tooltip="Edit your story">
                      <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus augue ut purus facilisis, id accumsan lacus hendrerit. In semper pulvinar mollis. Nam mollis risus massa -->
                    </p>
                    <div class="input-field">
                      <textarea id="user-about-me-input" class="materialize-textarea" placeholder="About me" required/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col s6">
                <br>
                <div class="row">
                  <div class="col s3 grey-text font-size-20 darken-1">
                    Skills:
                  </div>
                  <div class="col s8 grey-text text-darken-4">
                    <div id="user-skills" class="grey-text font-size-18 text-darken-4 editable" data-tooltip="Edit your skills list">
                      <!-- <div class="chip">
                        HTML
                      </div> -->
                    </div>
                    <div id="user-skills-input-div" class="chips chips-autocomplete skills-input-chips">
                      <input id="user-skills-input" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s3 grey-text font-size-18 darken-1">
                    Lives in:
                  </div>
                  <div id="user-lives-in" class="col s7 grey-text font-size-18 text-darken-4 editable" data-tooltip="Edit your location">
                    <!-- New York, USA -->
                  </div>
                  <div class="col s7">
                    <input id="user-lives-in-input" class="validate" type="text" placeholder="Where do you live?" required/>
                  </div>
                </div>
                <div class="row">
                  <div class="col s4 grey-text font-size-18 darken-1">
                    Last active:
                  </div>
                  <div id="user-last-active" class="col s7 red-text font-size-16">
                    <!-- Tue, 16 Jan 2018 &nbsp;
                    <i class="fa fa-circle font-size-11"> </i> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
