<!-- Project template (fields are filled dinamically for each project) -->
<div id="project" class="project-container row white z-depth-4">
  <div class="col s5 vertical-line-right">
    <div class="row">
      <h4> <strong id="project-title"> <!-- Shopping Web Platform --> </strong> </h4>
      <p id="project-details"> <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus augue ut purus facilisis, id accumsan lacus hendrerit. In semper pulvinar mollis. Nam mollis risus massa, et sagittis mi porttitor eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras dolor justo, maximus vitae libero ut, elementum luctus felis. Pellentesque dui sem, sagittis ac tincidunt quis, convallis sit amet metus. Nulla varius, purus non molestie feugiat, turpis ligula suscipit lectus, non imperdiet justo nisl ac neque. Nullam massa nisl, egestas sed consequat ut, aliquet non neque. Phasellus dictum malesuada massa. --> </p>
    </div>
    <div class="row">
      <div class="col s2">
        <span class="strong font-size-23">  Skills: </span>
      </div>
      <div id="project-skills" class="col s10 project-text">
        <!-- <div class="chip"> HTML </div>
        <div class="chip"> CSS </div>
        <div class="chip"> Javascript </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <span class="strong font-size-23"> Deadline: </span>
      </div>
      <div class="col s9 project-text">
        <span id="project-deadline"> <!-- Mon, 25 Dec 2018 --> </span>
      </div>
    </div>
    <div class="row">
      <div class="col s9 z-depth-3 grey lighten-5">
        <span class="strong font-size-23"> Employer </span>
        <br><br>
        <div class="row">
          <div class="col s3">
            <img id="project-employer-photo" src="resources/img/default_profile_picture.png" class="profile-picture circle">
          </div>
          <div class="col s8 offset-s1">
            <h5 id="project-employer-name" class="grey-text text-darken-3 margin-0"> <!-- Bob Green --> </h5>
            <p id="project-employer-email" class="grey-text margin-0 font-size-13">
              <!-- <i class="fa fa-envelope"></i> &nbsp; bob.green@gmail.com -->
            </p>
            <p id="project-employer-phone" class="grey-text margin-0">
              <!-- <i class="fa fa-lg fa-mobile"></i> &nbsp; +40731654213 -->
            </p>
            <a id="project-see-employer-profile" class="waves-effect waves-light btn right font-size-14">
              <i class="fa fa-search" style="font-size: 15px"></i>
              See profile
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s7">
    <div class="row grey lighten-3 z-depth-2">
      <div class="col s3 vertical-line-right vertical-margin">
        <h6 class="center-align font-size-20"> <strong> Budget </strong> </h6>
        <h6 id="project-budget" class="center-align font-size-18 grey-text text-darken-3"> <!-- 1000$ --> </h6>
      </div>
      <div class="col s3 vertical-line-right vertical-margin">
        <h6 class="center-align font-size-20"> <strong> Number of bids </strong> </h6>
        <h6 id="project-num-bids" class="center-align font-size-18 grey-text text-darken-3"> <!-- 3 --> </h6>
      </div>
      <div class="col s3 vertical-line-right vertical-margin">
        <h6 class="center-align font-size-20"> <strong> Average bid </strong> </h6>
        <h6 id="project-avg-bid" class="center-align font-size-18 grey-text text-darken-3"> <!-- 850$ --> </h6>
      </div>
      <div class="col s3 vertical-margin">
        <h6 class="center-align font-size-20"> <strong> Minimum bid </strong> </h6>
        <h6 id="project-min-bid" class="center-align font-size-18 grey-text text-darken-3"> <!-- 550$ --> </h6>
      </div>
    </div>
    <hr>
    <div class="row margin-0">
      <span class="strong font-size-25"> Place a bid </span>
      <br>
      <div class="row margin-0">
        <div class="col s9">
          <div class="row">
            <div class="col s9">
              <div id="bid-slider"></div>
            </div>
            <div class="col s3">
              <input id="bid-slider-input" class="input-number" type="number" min="100" max="1000" step="1" value="1000">
              <strong> $ </strong>
            </div>
          </div>
        </div>
        <div class="col s3">
          <a class="waves-effect waves-light btn-large place-bid-btn" style="width:110%"
            onclick="app.crt_project.placeBid()">
            Place bid
            <i class="fa fa-cloud-upload" style="font-size: 22px"></i>
          </a>
        </div>
      </div>
      <div id="bid-comment-div" class="row input-field margin-0">
        <label for="bid-comment"> Add a comment about the bid </label>
        <textarea id="bid-comment" class="materialize-textarea"></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <span class="strong font-size-25"> Current bids </span>
      <div id="current-bids-div" class="scrollable-div">
        <ul id="current-bids-list" class="collection z-depth-1">
          <!-- Example of a bid -->
          <!-- <li class="collection-item avatar">
            <img src="resources/img/profile_picture3.jpeg" class="profile-picture circle">
            <a href="#" class="waves-effect" onclick="app.openUserProfile('kimrush@gmail.com')">
              <span class="title font-size-18 strong">Kim Rushford</span>
            </a>
            <p class="strong"> 750$ </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus augue ut purus facilisis, id accumsan lacus hendrerit. In semper pulvinar mollis. Nam mollis risus massa, et sagittis mi porttitor eu. Vestibulum ante ipsum primis.
            </p>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
