<div class="row" id="projects-list">
  <!-- Skills filter sidebar -->
  <div class="faux-sidebar col s2 grey lighten-5">
  </div>
  <div class="col s2">
    <input type="text" class="autocomplete skills-input" placeholder="Add new skill here...">

    <div class="row skills-list">
      <!-- Example of skill -->
      <!--
      <div class="col s12">
        <div class="chip full-width">
          C++
          <div class="right">
            <i class="fa fa-times clickable" onclick="app.project_list.skills_list.removeSkill('C++')"></i>
          </div>
        </div>
      </div>  -->
    </div>
  </div>

  <!-- Project list -->
  <div class="col s10">
    <ul id="project-list" class="collapsible white" data-collapsible="accordion">
      <li class="project-list-header">
        <div class="collapsible-header row black white-text" style="cursor: default">
          <div class="col s3">
            <span> Project Name </span>
          </div>
          <div class="col s3">
            Skills
          </div>
          <div class="col s2">
            Budget ($)
          </div>
          <div class="col s2">
            Average Bid ($)
          </div>
          <div class="col s2">
            Deadline
          </div>
        </div>
      </li>

      <!-- Example of project element -->
      <!-- <li class="project-list-element">
        <div class="collapsible-header row">
          <div class="col s3">
            Shopping Web Platform
          </div>
          <div class="col s3">
            HTML CSS AngularJS
          </div>
          <div class="col s2">
            1000
          </div>
          <div class="col s2">
            700
          </div>
          <div class="col s2">
            22 Dec 2017
          </div>
        </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s7">
              <h6> <strong> Project Details </strong> </h6>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus augue ut purus facilisis, id accumsan lacus hendrerit. In semper pulvinar mollis. Nam mollis risus massa, et sagittis mi porttitor eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras dolor justo, maximus vitae libero ut, elementum luctus felis. Pellentesque dui sem, sagittis ac tincidunt quis, convallis sit amet metus. Nulla varius, purus non molestie feugiat, turpis ligula suscipit lectus, non imperdiet justo nisl ac neque. Nullam massa nisl, egestas sed consequat ut, aliquet non neque. Phasellus dictum malesuada massa. </p>
              <div class="right">
                <a class="waves-effect waves-light btn see-project-btn">
                  Go to project page <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>
            <div class="col s4 offset-s1 z-depth-1 grey lighten-5">
              <h6> <strong> Employer </strong> </h6>
              <br>
              <div class="row">
                <div class="col s3">
                  <img src="resources/img/profile_picture1.jpeg" class="profile-picture circle">
                </div>
                <div class="col s8 offset-s1">
                  <h5 class="grey-text text-darken-3 margin-0"> Bob Green </h5>
                  <p class="grey-text margin-0 font-size-13">
                    <i class="fa fa-envelope"></i> &nbsp; bob.green@gmail.com
                  </p>
                  <p class="grey-text margin-0">
                     <i class="fa fa-lg fa-mobile"></i> &nbsp; +40731654213
                  </p>
                    <a class="waves-effect waves-light btn right font-size-14" onclick="app.openUserProfile('bob.green@gmail.com')">
                      <i class="fa fa-search" style="font-size: 15px"></i>
                      See profile
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</div>