@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html, body {
  margin: 0;
  padding: 0;
}

#my-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  z-index: -2;
  background: #006366; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #006366, #3D9D69);
  background: -moz-linear-gradient(right, #006366, #3D9D69);
  background: -o-linear-gradient(right, #006366, #3D9D69);
  background: linear-gradient(to left, #006366, #0E8868);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.project-container {
  margin-top: 0.5em;
  padding: 1em;
  width: 95%;
}

.full-width {
  width: 100%;
}

.faux-sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 200px;
  position: absolute;
}

.keysubtitle{
  color: #4D525B;
}

.form-label{
  font-size: 18px;
}

.file-input{
  color: #9e9e9e;
}

.clickable {
  cursor: pointer;
}

#postProject{
  background: white;
  padding: 16px;
}

#login-form {
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  margin: 7em auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#login-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #006F68;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#login-form button:hover,#login-form button:active,#login-form button:focus {
  background: #007768;
}

#login-form .login-message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

#login-form .login-message a {
  color: #4CAF50;
  text-decoration: none;
}

#login-form .register-form {
  display: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

.profile-picture-large {
  object-fit: cover;
  object-center: center;
  height: 10em;
  width: 10em;
}

.profile-picture {
  object-fit: cover;
  object-center: center;
  height: 6em;
  width: 6em;
}

.profile-picture-small {
  object-fit: cover;
  object-center: center;
  height: 1.7em;
  width: 1.7em;
  margin-top: 0.2em;
}

.margin-0 {
  margin: 0 !important;
}

.see-profile-btn {
  font-size: 12px;
  text-transform: none;
  margin-top: 10px;
}

.see-project-btn {
  font-size: 18px;
  text-transform: none;
}

.place-bid-btn {
  font-size: 16px;
  text-transform: none;
  width: 105%;
}

.font-size-11 {
  font-size: 11px !important;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-23 {
  font-size: 23px !important;
}

.font-size-25 {
  font-size: 25px !important;
}

.font-size-30 {
  font-size: 30px !important;
}

.strong {
  font-weight: bold;
}

.vertical-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.project-text {
  font-size: 18px;
  margin-top: 0.2em;
}

#toast-container {
  top: auto !important;
  bottom: 0 !important;
  left: 38% !important;
  right: 38% !important;
}

.vertical-line-right {
  border-right: #969696 solid 4px;
}

.input-number {
  width: auto !important;
  margin-left: 15px !important;
  text-align: end;
}

#bid-slider {
  margin-top: 20px !important;
}

#bid-comment-div {
  margin-top: -25px !important;
}

#bid-comment-div {
  margin-left: 10px !important;
}

.scrollable-div {
  overflow-y: auto;
  overflow-x: hidden;
}

#current-bids-div {
  height: 15em;
}

#user-last-active {
  margin-top: 0.2em;
}